<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>   
    <contexts>
      <context type="Ruben.Books.DataLayer.BooksContext, Ruben.Books.DataLayer" disableDatabaseInitialization="false">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Ruben.Books.DataLayer.BooksContext, Ruben.Books.DataLayer], [Ruben.Books.DataLayer.Migrations.Configuration, Ruben.Books.DataLayer]], EntityFramework" />
      </context>
    </contexts>   
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--add name="BooksContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:udrb5ayeuq.database.windows.net,1433;Database=Ruben.Books.Dev;User ID=books_dev@udrb5ayeuq;Password=b00ksP@ss;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" /-->
    <add name="BooksContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:udrb5ayeuq.database.windows.net,1433;Database=Ruben.Books;User ID=books_pro@udrb5ayeuq;Password=b00ksP@ss;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    
    
    <add name="rubenvh_boekenEntities" connectionString="metadata=res://*/OldDatabaseModel.OldBooksModel.csdl|res://*/OldDatabaseModel.OldBooksModel.ssdl|res://*/OldDatabaseModel.OldBooksModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql52.rubenvh.info;user id=bookmanager;password=Zrujwztk1;persistsecurityinfo=True;database=rubenvh_boeken&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>